
@font-face {
  font-family: 'Nexa';
  src: local('Nexa'), url(./fonts/Nexa-Trial-Regular.otf) format('opentype');
}

/* @font-face {
    font-family: 'Lato';
    font-weight: 900;
    src: local('Lato'), url(./fonts/Lato-Bold.otf) format('opentype');
} */

.logo-stroke {

  height: 70vh;

}

.logo-home {
  left: 25%;
}

.logo-others {
  left: 40%;
}

.img-logo {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}