.validator-card {
    background: #282828;
border: 2px solid #282828;
border-radius: 5px;
padding: 1rem;
}

.validator-card .card-details {
    margin-left: 10px;
}

.add-button{
    color: #D35100;
}

.existing-delegations-pane .delegations, .existing-delegations-pane .button-container {
    z-index: 3;
}